<app-header titulo="alert"></app-header>

<ion-content class="ion-padding" fullscreen>

    <ion-card>

            <ion-card-content>
                <ion-card-header>
                    <ion-card-subtitle>Presentar alerta</ion-card-subtitle>
                    <ion-card-title> Present Alert </ion-card-title>
                </ion-card-header>
                <ion-button (click)="presentAlert()" expand="block" shape="round" color="secondary">
                    Alert
                </ion-button>
            </ion-card-content>
            
    </ion-card>
    
    <ion-card>
            <ion-card-content>
                <ion-card-header>
                    <ion-card-subtitle>Presentar multiples botones </ion-card-subtitle>
                    <ion-card-title> Present Multiple Buttons </ion-card-title>
                </ion-card-header>
                <ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round" color="primary">
                    Alert Multibuttons
                </ion-button>
            </ion-card-content>
    </ion-card>

    <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Presentar formulario en alerta </ion-card-subtitle>
                <ion-card-title> Present Alert Prompt </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="presentAlertPrompt()" expand="block" shape="round" color="secondary">
                    Present Alert Prompt
                </ion-button>
            </ion-card-content>
    </ion-card>

    <ion-card>
            <ion-card-header>
                <ion-card-subtitle> Presentar alerta de radio </ion-card-subtitle>
                <ion-card-title> Present Alert Radio </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="presentAlertRadio()" expand="block" shape="round" color="primary">
                    Present Alert Radio
                </ion-button>    
            </ion-card-content>
    </ion-card>

    <ion-card>
            <ion-card-header>
                <ion-card-subtitle> Presentar alertas de Checkbox </ion-card-subtitle>
                <ion-card-title> Present Alert Checkbox </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="presentAlertCheckbox()" expand="block" shape="round" color="secondary">
                    Present Alert Checkbox
                </ion-button>
            </ion-card-content>
    </ion-card>



</ion-content>
