
<app-header titulo="action sheet"></app-header>

<ion-content class="ion-padding" fullscreen>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle> Mostrar Action Sheet </ion-card-subtitle>
            <ion-card-title>Action Sheet </ion-card-title>
        </ion-card-header>
        <ion-card-content>

        <ion-button (click)="onClick()" expand="block" shape="round">
            Mostrar Action Sheet
        </ion-button>
    
    </ion-card-content>

    </ion-card>

</ion-content>
