<app-header titulo="Fab"></app-header>
<ion-content fullscreen>

          <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
        <ion-fab-button color="ionic"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
        <ion-fab-button color="angular"><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
        <ion-fab-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    
    </ion-fab-list>

    <ion-fab-list side="top">
        <ion-fab-button color="amazon"><ion-icon name="logo-amazon"></ion-icon></ion-fab-button>
        <ion-fab-button color="google"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
        <ion-fab-button color="apple"><ion-icon name="logo-apple"></ion-icon></ion-fab-button>
        <ion-fab-button color="discord"><ion-icon name="logo-discord"></ion-icon></ion-fab-button>
    </ion-fab-list>

  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed" >
      <ion-fab-button color="tertiary">
          <ion-icon name="rocket-outline"></ion-icon>
      </ion-fab-button>

        <ion-fab-list side="bottom">
            <ion-fab-button color="ionic"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
            <ion-fab-button color="angular"><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
            <ion-fab-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
            <ion-fab-button color="amazon"><ion-icon name="logo-amazon"></ion-icon></ion-fab-button>
            <ion-fab-button color="linkedin"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
            <ion-fab-button color="vimeo"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
            <ion-fab-button color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>

        </ion-fab-list>

  </ion-fab>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button color="success">
          <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>

      <ion-fab-list side="start">
          <ion-fab-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>

      <ion-fab-list side="end">
        <ion-fab-button color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="bottom">
        <ion-fab-button color="vimeo"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>




  </ion-fab>




    <ion-list>

        <ion-item *ngFor="let item of data; let i = index">
            <ion-label>Item {{ i + 1 }}</ion-label>
        </ion-item>

    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar color="secondary">
        <ion-title> Aquí va el pie de página </ion-title>
    </ion-toolbar>
</ion-footer>
